---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import AnimatedSkeleton from "../components/AnimatedSkeleton.astro";
---

<Layout title="my ui components">
  <main>
    <h1 class="text-gradient">Animan Amit</h1>
    <AnimatedSkeleton />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: linear-gradient(
      35deg,
      hsl(240deg 32% 41%) 0%,
      hsl(294deg 31% 37%) 26%,
      hsl(327deg 44% 42%) 39%,
      hsl(341deg 54% 46%) 48%,
      hsl(349deg 63% 49%) 55%,
      hsl(357deg 77% 52%) 61%,
      hsl(0deg 77% 54%) 66%,
      hsl(0deg 71% 54%) 70%,
      hsl(0deg 64% 55%) 74%,
      hsl(0deg 57% 55%) 77%,
      hsl(0deg 50% 55%) 80%,
      hsl(1deg 45% 55%) 83%,
      hsl(5deg 43% 56%) 86%,
      hsl(9deg 42% 58%) 89%,
      hsl(12deg 41% 59%) 92%,
      hsl(16deg 40% 60%) 95%,
      hsl(20deg 39% 62%) 100%
    );
    background-clip: text;
    background-size: 100%;
    color: transparent;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
